table { width: 640px; border: 1px #04F solid; padding: 5px; color: #000;  margin: 10px; }
th { background-color: #04F; border: 1px #09F solid; }
td { border: 1px #04F solid; padding: 4px; }
td strong { margin-right: 20px; text-decoration: underline; }
td img { width: 430px; height: 127px; margin-top: 5px; }