table { width: 640px; border: 1px #F40 solid; padding: 5px; color: #000;  margin: 10px; }
th { background-color: #F40; border: 1px #F90 solid; }
td { border: 1px #F40 solid; padding: 4px; }
td strong { margin-right: 20px; text-decoration: underline; }
td img { width: 430px; height: 127px; margin-top: 5px; }
